@using Microsoft.AspNetCore.Identity
@using EstoqueAlarmaq.Services.Extensions
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown align-content-end">
        <a class="nav-link dropdown-toggle text-info" href="#" role="button" data-bs-toggle="dropdown">
            Olá, <b>@User.Identity.Name.FirstWord()</b>!
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="AlterarSenha" classes-if-active="disabled">
                    Alterar Senha
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <button type="submit" style="width:auto;" class="nav-link btn btn-link py-0">
                        Sair
                    </button>
                </form>
                @*<a class="dropdown-item" asp-controller="Account" asp-action="Logout">Sair</a>*@
            </li>
        </ul>
    </li>
}
else
{
    <a class="nav-link pe-0" asp-controller="Account" asp-action="Register">Registrar-se</a>
    <a class="nav-link pe-0" asp-controller="Account" asp-action="Login">Entrar</a>
}