@model LoginViewModel

<div class="container">
    <div class="row">
        <aside class="col-sm-4">
        <div class="card">
            <article class="card-body">
                <a href="" class="float-right btn btn-outline-primary">Sign up</a>
                <h4 class="card-title mb-4 mt-1">Sign in</h4>
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label>Your email</label>
                        <input asp-for="Email" class="form-control" placeholder="Email" type="email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a class="float-right" href="#">Forgot?</a>
                        <label>Your password</label>
                        <input class="form-control" asp-for="Password" placeholder="******" type="password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                                <label> <input type="checkbox" asp-for="RememberMe"> Save password </label>
                        </div>
                    </div> 
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                    </div>
                </form>
            </article>
        </div>
        </aside>
    </div>
</div>