@using EstoqueAlarmaq.Application.ViewModels;
@model List<ProductViewModel>


<h1>Lista de Produtos</h1>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Amount</td>
            </tr>
        }
    </tbody>
</table>